/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#gallery-48 {
		padding: var(--sectionPadding);
		position: relative;
	}
	#gallery-48 .cs-container {
		width: 100%;
		max-width: 80rem;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		/* 48px - 64px */
		gap: clamp(3rem, 6vw, 4rem);
	}
	#gallery-48 .cs-content {
		/* set text align to left if content needs to be left aligned */
		text-align: center;
		width: 100%;
		display: flex;
		flex-direction: column;
		/* centers content horizontally, set to flex-start to left align */
		align-items: center;
	}
	#gallery-48 .cs-title {
		/* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
		margin: 0;
		max-width: 29ch;
	}
	#gallery-48 .cs-image-group {
		/* used rem so it doesn't scale with the font size of on parent */
		font-size: min(1.1vw, 1em);
		width: 100%;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		/* 8px - 20px */
		gap: clamp(0.5rem, 2vw, 1.25rem);
	}
	#gallery-48 .cs-row {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		/* 8px - 20px */
		gap: clamp(0.5rem, 2vw, 1.25rem);
	}
	#gallery-48 .cs-picture {
		width: 100%;
		position: relative;
		display: block;
	}
	#gallery-48 .cs-picture img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	#gallery-48 .cs-row-1 .cs-picture-1 {
		height: 35.4375em;
	}
	#gallery-48 .cs-row-1 .cs-picture-2 {
		height: 39.3125em;
	}
	#gallery-48 .cs-row-1 .cs-picture-3 {
		height: 32em;
	}
	#gallery-48 .cs-row-2 .cs-picture-1 {
		height: 30.75em;
	}
	#gallery-48 .cs-row-2 .cs-picture-2 {
		height: 32.3125em;
	}
	#gallery-48 .cs-row-2 .cs-picture-3 {
		height: 39.3125em;
	}
	#gallery-48 .cs-row-3 .cs-picture-1 {
		height: 39.0625em;
	}
	#gallery-48 .cs-row-3 .cs-picture-2 {
		height: 28.25em;
	}
	#gallery-48 .cs-row-3 .cs-picture-3 {
		height: 39.3125em;
	}
	.facebook-icon {
		margin-left: 12px;
	}
}
/* Dark mode */
@media only screen and (min-width: 0rem) {
	body.dark-mode #gallery-48 .cs-title {
		color: var(--bodyTextColorWhite);
	}
}
/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#cta-262 {
		padding: var(--sectionPadding);
		padding-top: 0;
		background-color: #f7f7f7;
	}
	#cta-262 .cs-container {
		width: 100%;
		max-width: 80rem;
		margin: auto;
		/* 32px - 88px top & bottom */
		/* 24px - 88px left & right */
		padding: clamp(2em, 6.3vw, 5.5em) clamp(1.5em, 5.7vw, 5.5em);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 2rem;
		position: relative;
		/* clips the corners for the border radius to show */
		overflow: hidden;
		z-index: 1;
		/* prevents padding from adding to height and width */
		box-sizing: border-box;
	}
	#cta-262 .cs-background {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		z-index: -1;
	}
	#cta-262 .cs-background:before {
		/* black overlay */
		content: '';
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0.7;
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		z-index: 1;
	}
	#cta-262 .cs-background:after {
		/* brown overlay */
		content: '';
		width: 100%;
		height: 100%;
		background: var(--secondary);
		opacity: 0.2;
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		z-index: 2;
	}
	#cta-262 .cs-background img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	#cta-262 .cs-left-section {
		max-width: 27.125rem;
	}
	#cta-262 .cs-title {
		/* 25px - 49px */
		font-size: clamp(1.5625rem, 3.9vw, 3.0625rem);
		font-weight: 900;
		line-height: 1.2em;
		text-align: left;
		max-width: 15ch;
		/* 20px - 48px */
		margin: 0 auto clamp(1.25rem, 4.7vw, 3rem);
		color: var(--bodyTextColorWhite);
		position: relative;
	}
	#cta-262 .cs-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		/* 12px - 20px */
		gap: clamp(0.75rem, 1.6vw, 1.25rem);
	}
	#cta-262 .cs-header {
		/* 20px - 25px */
		font-size: clamp(1.25rem, 2.4vw, 1.5625rem);
		font-weight: bold;
		color: var(--bodyTextColorWhite);
		display: block;
	}
	#cta-262 .cs-p {
		/* 14px - 20px */
		font-size: clamp(0.875rem, 1.5vw, 1.25rem);
		line-height: 1.5em;
		margin: 0;
		color: var(--bodyTextColorWhite);
	}
	#cta-262 .cs-button-solid {
		transition: color 0.3s;
	}
	#cta-262 .cs-button-solid:hover {
		color: var(--primary);
	}
	#cta-262 .cs-button-solid:before {
		background-color: #fff;
	}
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#cta-262 .cs-container {
		flex-direction: row;
		justify-content: space-between;
	}
	#cta-262 .cs-content {
		align-items: flex-end;
		text-align: right;
		/* prevents flexbox from squishing it */
		flex: none;
	}
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
	body.dark-mode #cta-262 {
		background-color: rgba(0, 0, 0, 0.2);
	}
	body.dark-mode #cta-262 .cs-background:before {
		opacity: 0.9;
	}
	body.dark-mode #cta-262 .cs-background:after {
		opacity: 0.1;
	}
}
